@using FactoryFurniture.Data;
@using FactoryFurniture.Services
@page "/editfurniture/{Id}"
@inject NavigationManager Navigation
@inject FurnitureService FurnitureService

<h1>Редактирование мебели</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Наименование</label>
                <input for="Name" class="form-control" @bind="@_furniture.Name" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <textarea asp-for="Description" class="form-control" @bind="@_furniture.Description"> </textarea>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена</label>
                <input asp-for="Price" class="form-control" @bind="@_furniture.Price" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" @onclick="@(async () =>
                                                                        {
                                                                            await FurnitureService.Update(_furniture);
                                                                        })">Сохранить</button>
                <button class="btn btn-warning" @onclick="@Back">Назад</button>
            </div>
        </form>
    </div>
</div>

@functions {

    [Parameter]
    public string Id { get; set; }

    private Furniture _furniture = new Furniture();

    protected override async Task OnInitializedAsync()
    {
        _furniture = await FurnitureService.GetById(Id);
    }

    private void Back()
    {
        Navigation.NavigateTo("/", true);
    }
}